{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container navbar-margin mb-5">
  <div class="row justify-content-center mt-3">
    <div class="col col-lg-5">
      <div class="card mt-2">
        <div class="card-body p-5">
          {% if process == "connect" %}
          <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

          <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{provider }}.{% endblocktrans %}</p>
          {% else %}
          <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

          <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{provider }}.{% endblocktrans %}</p>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary submit-background">{% trans "Continue" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}