{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div id='calendar'></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            editable: true,
            events: [
                {
                    title: 'Meeting',
                    start: '2024-04-12',
                    extendedProps: {
                        status: 'done'
                    }
                },
                {
                    title: 'Birthday Party',
                    start: '2024-04-13',
                    startRecur: '2024-04-13',
                    endRecur: '2024-04-30',
                    daysOfWeek: [4],
                    groupId: '999',
                    backgroundColor: 'green',
                    borderColor: 'green'
                }
            ]
        });
        calendar.render();
    });

</script>

{% endblock %}