{% extends 'base.html' %}
{% block content %}




<div class="container">
    <div>
        <h1>Schedule Title: {{ schedule }}</h1>
        <p>Schedule Location: {{ schedule.locations }}</p>
        <p>Schedule Description{{ schedule.description }}</p>
    </div>
    <div id='calendar'></div>
</div>

<!-- -> Credit for sending JSON data to JavaScript: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#std-templatefilter-json_script -->
{{ event_data|json_script:"event-data" }}

<!-- rrule lib -->
<script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>

<!-- fullcalendar bundle -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

<!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.11/index.global.min.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let json_events = JSON.parse(document.getElementById('event-data').textContent);
        json_events = JSON.parse(json_events);

        console.log(json_events);

        const calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            defaultAllDay: true,
            dateClick: function (info) {
                createEvent(info.dateStr);
            },
            eventMouseEnter: function (info) {
                info.el.style.backgroundColor = 'lightblue';
                info.el.style.border = 'none';
                info.el.style.color = 'white';
                info.el.innerHTML += '<i class="fas fa-trash-alt"></i>';
            },
            eventMouseLeave: function (info) {
                info.el.style.backgroundColor = '';
                info.el.innerHTML = `${info.event.title}<br>`;
                info.el.style.color = 'white';
            },
            eventClick: function (info) {
                deleteEventModal = new bootstrap.Modal(document.getElementById('deleteEventModal'));
                document.getElementById('delete-event-modal-title').textContent = `Delete event: ${info.event.title} from ${info.event.start}`;

                let submitButton = document.getElementById('delete-event');
                submitButton.addEventListener('click', (event) => handleModalSubmit(event, info, submitButton));
            },
            events: json_events,
        });

        calendar.render();
    });
</script>

{% endblock %}