h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: "Josefin Sans", sans-serif;
}

.high-z-index {
    z-index: 1000;
}

body {
    font-family: "Lato", sans-serif;
    /* stick footer to bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

/* -> Credit for Gradient text: https://cssgradient.io/blog/css-gradient-text/ */
.gradient-text {
    background: linear-gradient(90deg, #25a55f 0%, #57d992 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.opacity-hover:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.submit-background {
    background: #25a55f;
    border-style: none;
}

.submit-background:hover {
    background: #25a55fd8;
    transition: background-color 0.5s;
}

.thumbnail-hover:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;

}

.rounded-corners {
    border-radius: 2rem;
}

.min-width-4rem {
    min-width: 4rem;
}

.margin-top-50vh {
    margin-top: 50vh;
}

.bg-opacity {
    transition: background-color 0.5s, box-shadow 0.5s;
}

.hero-stylized-text {
    font-weight: 900;
    font-size: 3rem;
}

#calendar a {
    text-decoration: unset;
    color: unset;
}

#calendar button {
    background: #5c636a;
    border-style: none;
}

#calendar button:hover {
    background: #5c636ad8;
    transition: background-color 0.5s;
}

#calendar div .fc-h-event {
    background-color: #1c7b47db;
    border-color: #1c7b47db;
}

.custom-img-size {
    width: auto;
    height: 100px;
}

.navbar-background {
    background: #f8f9fa;
}

/* Timeline */
/* -> Credit for timeline CSS & HTML: https://www.bootdey.com/snippets/view/timeline-events */
.timeline {
    border-left: 3px solid #57d992;
    margin: 0 auto;
    letter-spacing: 0.2px;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-family: josefin sans, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #25a55f;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #57d992;
    box-shadow: 0 0 0 3px #57d992;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #57d992;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}