/* -> Credit for using CSS root variables: https://www.w3schools.com/css/css3_variables.asp */
/* ROOT color variables */
:root {
    --primary-color: #25a55f;
    --secondary-color: #57d992;
    --darker-secondary-color: #1c7b47;
    --primary-transparent-background: #25a55f45;
    --secondary-transparent-background: #1c7b47db;
    --dark-background: #2a2a2a;
    --light-background: #e6e6e6;
}

/* general Styles */

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: "Josefin Sans", sans-serif;
}

.opacity-hover:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.submit-background {
    background: var(--darker-secondary-color);
    border-style: none;
}

.submit-background:hover {
    background: var(--darker-secondary-color);
    transition: background-color 0.5s;
}

.thumbnail-hover:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;

}

.high-z-index {
    /* SO many times i had to increase this number... */
    z-index: 10000000;
}

body {
    font-family: "Lato", sans-serif;
    /* stick footer to bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* bootstrap messages */

.message-class {
    top: 20px;
    width: fit-content;
    animation: flash 1s .3s;
}

/* -> Credit for keyframes: https://stackoverflow.com/questions/45330061/how-to-flash-a-div-only */
@keyframes flash {
    0% {transform: scale(1);}
    50% {transform: scale(.9);}
    100% {transform: scale(1);}
}

/* bootstrap popovers */
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

/* Navigation Bar Styles */

.navbar-margin {
    margin-top: 80px;
}

.navbar-background {
    background: #f8f9fa;
}

.text-tonne {
    color: var(--darker-secondary-color);
    font-weight: 700;
}

/* Footer */
.dark-section {
    background: var(--dark-background);
    color: var(--light-background);
}

.brighter-text {
    color: var(--light-background) !important;
    font-weight: 900;
}

/* Hero Section */

/* -> Credit for Gradient text: https://cssgradient.io/blog/css-gradient-text/ */
.gradient-text {
    background: linear-gradient(90deg, #25a55f 0%, #57d992 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.hero-stylized-text {
    font-weight: 900;
    font-size: 3rem;
}

.rounded-corners {
    border-radius: 2rem;
}

/* Schedule List Section */

.card-hover:hover {
    background-color: var(--primary-transparent-background);
    transition: background-color 0.5s;
}

.min-width-4rem {
    min-width: 4rem;
}

/* Schedule Details (calendar) Section */

#calendar a {
    text-decoration: unset;
    color: unset;
}

#calendar button {
    background: #5c636a;
    border-style: none;
}

#calendar button:hover {
    background: #5c636ad8;
    transition: background-color 0.5s;
}

#calendar div .fc-h-event {
    background-color: var(--darker-secondary-color);
    border-color: var(--darker-secondary-color);
    border-width: 3px;
}

.custom-img-size {
    width: auto;
    height: 100px;
}

.top-sticky-margin {
    top: 80px;
}

.bg-opacity {
    transition: background-color 0.5s, box-shadow 0.5s;
}

/* Dashboard Section */

/* Selected accordion-button bootstrap class override */
.accordion-button:not(.collapsed) {
    background-color: var(--primary-transparent-background);
    color: black;
}

/* Timeline */
/* -> Credit for timeline CSS & HTML: https://www.bootdey.com/snippets/view/timeline-events */
.timeline {
    border-left: 3px solid var(--secondary-color);
    margin: 0 auto;
    letter-spacing: 0.2px;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-family: josefin sans, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #25a55f;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px var(--secondary-color);
    box-shadow: 0 0 0 3px var(--secondary-color);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid var(--secondary-color);
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* Google button Styling */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }

    .gsi-material-button-icon svg {
        width: 20px;
        height: 20px;
    }


/* -> Credit for progress bar: https://bbbootstrap.com/snippets/bootstrap-4-bootstrap-4-timeline-order-tracking-step-step-progress-bar-26897417 */
/* Progress steps bar styles */
.bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: #878788;
    padding-left: 0px;
    margin-top: 30px
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #878788;
    text-align: center
}

.bs4-order-tracking li:first-child:before {
    margin-left: 15px !important;
    padding-left: 11px !important;
    text-align: left !important
}

.bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #878788;
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #878788;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1
}

.bs4-order-tracking li:first-child:after {
    left: 50%
}

.bs4-order-tracking li:last-child:after {
    left: 0;
    width: 50%;
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: var(--darker-secondary-color);
}

.bs4-order-tracking li.active>div {
    background: var(--darker-secondary-color);
}

.bs4-order-tracking li.active:after {
    background: var(--darker-secondary-color);
}

.card-timeline {
    background-color: #fff;
    z-index: 0;
}