
/* -> Credit for using CSS root variables: https://www.w3schools.com/css/css3_variables.asp */
:root {
    --primary-color: #25a55f;
    --secondary-color: #57d992;
    --darker-secondary-color: #1c7b47;
    --primary-transparent-background: #25a55f45;
    --secondary-transparent-background: #1c7b47db;
    --dark-background: #2a2a2a;
    --light-background: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: "Josefin Sans", sans-serif;
}

.high-z-index {
    /* SO many times i had to increase this number... */
    z-index: 10000000;
}

.navbar-margin {
    margin-top: 80px;
}

body {
    font-family: "Lato", sans-serif;
    /* stick footer to bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

/* -> Credit for Gradient text: https://cssgradient.io/blog/css-gradient-text/ */
.gradient-text {
    background: linear-gradient(90deg, #25a55f 0%, #57d992 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.dark-section {
    background: var(--dark-background);
    color: var(--light-background);
}

.opacity-hover:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.submit-background {
    background: var(--primary-color);
    border-style: none;
}

.submit-background:hover {
    background: var(--darker-secondary-color);
    transition: background-color 0.5s;
}

.thumbnail-hover:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;

}

.text-tonne {
    color: var(--primary-color);
    font-weight: 700;
}

.card-hover:hover {
    background-color: var(--primary-transparent-background);
    transition: background-color 0.5s;
}

.top-sticky-margin {
    top: 80px;
}

.rounded-corners {
    border-radius: 2rem;
}

.min-width-4rem {
    min-width: 4rem;
}

.margin-top-50vh {
    margin-top: 50vh;
}

.bg-opacity {
    transition: background-color 0.5s, box-shadow 0.5s;
}

/* Selected accordion-button bootstrap class override */
.accordion-button:not(.collapsed) {
    background-color: var(--primary-transparent-background);
    color: black;
}

.hero-stylized-text {
    font-weight: 900;
    font-size: 3rem;
}

#calendar a {
    text-decoration: unset;
    color: unset;
}

#calendar button {
    background: #5c636a;
    border-style: none;
}

#calendar button:hover {
    background: #5c636ad8;
    transition: background-color 0.5s;
}

#calendar div .fc-h-event {
    background-color: var(--secondary-transparent-background);
    background-color: var(--secondary-transparent-background);
}

.custom-img-size {
    width: auto;
    height: 100px;
}

.navbar-background {
    background: #f8f9fa;
}

/* Timeline */
/* -> Credit for timeline CSS & HTML: https://www.bootdey.com/snippets/view/timeline-events */
.timeline {
    border-left: 3px solid var(--secondary-color);
    margin: 0 auto;
    letter-spacing: 0.2px;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-family: josefin sans, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #25a55f;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px var(--secondary-color);
    box-shadow: 0 0 0 3px var(--secondary-color);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid var(--secondary-color);
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* Google button Styling */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }

    .gsi-material-button-icon svg {
        width: 20px;
        height: 20px;
    }