{% extends 'base.html' %}
{% block content %}


<div class="container navbar-margin">
    <h1>Dashboard</h1>
    <p class="text-muted">Welcome {{ user }}!</p>
    <div class="row row-cols-1 row-cols-xl-2 g-5">
        <div class="col">
            <h2>Schedules You are subscribed to</h2>
            <div class="accordion" id="subscribed_accordion">
                {% for schedule in subscribed_schedules %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ schedule.id }}">
                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{ schedule.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="collapse{{ schedule.id }}">
                            <span class="fw-bold">{{ schedule }} </span> &nbsp; by {{ schedule.author }}
                        </button>
                    </h2>
                    <div id="collapse{{ schedule.id }}"
                        class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                        aria-labelledby="heading{{ schedule.id }}" data-bs-parent="#subscribed_accordion">
                        <div class="accordion-body">
                            <p>{{ schedule.description }}</p>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-2 g-2 ">
                                <div class="col">
                                    <a href="{% url 'download_ics' schedule.id %}" class="btn btn-primary submit-background">Download</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'schedule_detail' schedule.locations.first schedule.slug %}"
                                        class="btn btn-secondary">View
                                        Schedule</a>
                                </div>
                                {% if schedule.author == user %}
                                <div class="col">
                                    <a href="{% url 'add_bins' schedule.id %}" class="btn btn-secondary">Edit
                                        Schedule</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'delete_schedule' schedule.slug %}" class="btn btn-danger">Delete
                                        Schedule</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>You aren't subscribed to any Schedules</p>
                {% endfor %}
            </div>
        </div>


        <div class="col">
            <h2>Schedules you have created</h2>
            <div class="accordion" id="created_accordion">
                {% for schedule in owned_schedules %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ schedule.id }}created">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ schedule.id }}created " aria-expanded="false"
                            aria-controls="collapse{{ schedule.id }}created">
                            <span class="fw-bold">{{ schedule }} </span> &nbsp; by {{ schedule.author }}
                        </button>
                    </h2>
                    <div id="collapse{{ schedule.id }}created" class="accordion-collapse collapse"
                        aria-labelledby="heading{{ schedule.id }}created" data-bs-parent="#created_accordion">
                        <div class="accordion-body">
                            <p>{{ schedule.description }}</p>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-2 g-2 ">
                                <div class="col">
                                    <a href="{% url 'download_ics' schedule.id %}" class="btn btn-primary submit-background">Download</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'schedule_detail' schedule.locations.first schedule.slug %}"
                                        class="btn btn-secondary">View
                                        Schedule</a>
                                </div>
                                {% if schedule.author == user %}
                                <div class="col">
                                    <a href="{% url 'add_bins' schedule.id %}" class="btn btn-secondary">Edit
                                        Schedule</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'delete_schedule' schedule.slug %}" class="btn btn-danger">Delete
                                        Schedule</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>You haven't created a schedule yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}