{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Waste Schedules in "Search Location"</h1>
    <div class="row gy-4">
        {% for schedule in schedule_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2>{{ schedule }}</h2>
                    <p>by {{ schedule.author }}</p>
                    <p>{{ schedule.description }}</p>
                    <p>
                    <form action="{% url 'schedule_like' schedule.slug %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-link"><i
                                class="
                            {% if schedule.id in user_likes %}
                            fas
                            {% else %}
                            far
                            {% endif %}
                            fa-thumbs-up"></i></button>
                    </form>
                    <div class="d-inline">{{ schedule.like__count }}</div>
                    </p>

                    <p>
                    <form action="{% url 'schedule_subscribe' schedule.slug %}" method="POST" class="d-inline">
                        {% if schedule.id in user_subscriptions %}
                        <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
                            class="btn btn-secondary">Subscribed</button>
                        {% else %}
                        {% csrf_token %}
                        <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
                            class="btn btn-primary">Subscribe</button>
                    </form>
                    {% endif %}
                    <a href="{% url 'schedule_detail' schedule.slug %}" class="btn btn-light"><i
                            class="fa fa-info"></i></a>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No Schedules found</p>
        {% endfor %}
    </div>
</div>

{% endblock %}