{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    {% if postcode == '0' %}
    <h1>Waste Schedules</h1>
    {% else %}
    <h1>Waste Schedules for: {{ postcode }}</h1>
    {% endif %}
    <form id="postcodeForm">
        <div class="input-group mb-3 mt-5">
            <!-- -> Credit for manual input validation using regex pattern: https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
            <!-- -> Credit for the regex Pattern: ChatGPT -->
            <input type="text" id="postcodeInput" class="form-control" placeholder="Enter your postcode"
                aria-label="Enter your postcode" aria-describedby="button-addon2" pattern="^\d{5}$"
                title="Please enter a 5 digit postcode (only German postcodes are supported)" required>
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
    <div class="row gy-4">
        {% for schedule in schedule_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body position-relative">
                    <h2>{{ schedule }}</h2>
                    <p>by {{ schedule.author }}</p>
                    {% if postcode == '0' %}
                    <p>Postcode: {{ schedule.locations.first }}</p>
                    {% endif %}
                    <p>{{ schedule.description }}</p>
                    <a href="{% url 'schedule_detail' postcode schedule.slug %}" class="btn btn-light stretched-link"><i
                            class="fa fa-info"></i></a>
                </div>
                <div class="card-footer">
                    <!-- Like button -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'schedule_like' schedule.slug %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-link">
                            <i class="{% if schedule.id in user_likes %}fas{% else %}far{% endif %} fa-heart"></i>
                        </button>
                    </form>
                    {% else %}
                    <!-- -> Credit for popovers: https://getbootstrap.com/docs/5.2/components/popovers/#overview -->
                    <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-toggle="popover" data-bs-custom-class="custom-popover"
                        data-bs-content="You need to be logged in to like a Schedule."><i class="fas fa-heart"></i></a>
                    {% endif %}
                    <div class="d-inline">{{ schedule.like__count }}</div>


                    <!-- Subscribe Button -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'schedule_subscribe' schedule.slug %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        {% if schedule.id in user_subscriptions %}
                        <div class="dropdown d-inline">
                            <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
                                class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Subscribed
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
                                        class="dropdown-item">Unsubscribe</button>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
                            class="btn btn-primary">Subscribe</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <a tabindex="0" class="btn btn-primary" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-toggle="popover" data-bs-custom-class="custom-popover"
                        data-bs-content="You need to be logged in to Subscribe to a Schedule.">Subscribe</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>No Schedules found</p>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="column">
            <h5>Havent found your Schedule?</h5>
            <p>Just <a href="{% url 'pick_location' %}">Make your own</a></p>
            {% if not postcode == '0' %}
            <p>or <a href="{% url 'schedule_list' '0' %}">See all Schedules</a></p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Script for the Location search field -->
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}