{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>{{ schedule }}</h1>
    <p>by {{ schedule.author }}</p>
    <p>{{ schedule.description }}</p>
    <p>
    <form action="{% url 'schedule_like' schedule.slug %}" method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-link"><i class="
                            {% if is_liked %}
                            fas
                            {% else %}
                            far
                            {% endif %}
                            fa-thumbs-up"></i></button>
    </form>
    <div class="d-inline">{{ like_count }}</div>
    </p>
    <p>
    <form action="{% url 'schedule_subscribe' schedule.slug %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if is_subscribed %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
            class="btn btn-secondary">Subscribed</button>
        {% else %}
        {% csrf_token %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-primary">Subscribe</button>
    </form>
    {% endif %}
    </p>
    <hr>
    <h2>Comments</h2>
    {% for comment in comments %}
    <p class="mb-0"><strong>{{ comment.commented_by }}</strong></p>
    <p>{{ comment.body }}</p>
    {% endfor %}
</div>

{% endblock %}