{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <a href="{% url 'schedule_list' %}">Back to Waste Schedule List</a>
    <h1>{{ schedule }}</h1>
    <p>by {{ schedule.author }}</p>
    <p>{{ schedule.description }}</p>
    {% if user.is_authenticated %}
    <form action="{% url 'schedule_like' schedule.slug %}" method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-link">
            <i class="{% if is_liked %}fas{% else %}far{% endif %} fa-heart"></i>
        </button>
    </form>
    {% else %}
    <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
        data-bs-toggle="popover" data-bs-custom-class="custom-popover"
        data-bs-content="You need to be logged in to like a Schedule.">
        <i class="fas fa-heart"></i>
    </a>
    {% endif %}
    <div class="d-inline">{{ like_count }}</div>
    {% if user.is_authenticated %}
    <form action="{% url 'schedule_subscribe' schedule.slug %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if is_subscribed %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}"
            class="btn btn-secondary">Subscribed</button>
        {% else %}
        <button type="submit" name="schedule_id" value="{{ schedule.slug }}" class="btn btn-primary">Subscribe</button>
        {% endif %}
    </form>
    {% else %}
    <a tabindex="0" class="btn btn-primary" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
        data-bs-toggle="popover" data-bs-custom-class="custom-popover"
        data-bs-content="You need to be logged in to Subscribe to a Schedule.">
        Subscribe
    </a>
    {% endif %}

    <hr>

    <h2>Comments</h2>
    <!-- Creating New Comments -->
    <!-- -> Credit for crispy forms: https://github.com/Code-Institute-Solutions/blog/tree/main/12_views_part_3/01_posting_to_database -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form action="{% url 'schedule_comment' schedule.slug %}" method="POST" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup">Submit</button>
            </form>
            {% else %}
            <p><a href="{% url 'account_login' %}">Log in</a> to leave a comment</p>
            {% endif %}
        </div>
    </div>
    {% for comment in comments %}
    <p class="mb-0"><strong>{{ comment.commented_by }}</strong></p>
    <p id="comment-body-{{ comment.id }}">{{ comment.body }}</p>
    {% if comment.commented_by == user %}

    <!-- -> Credit for modals: https://getbootstrap.com/docs/5.2/components/modal/ -->
    <!-- Button trigger modal -->
    <div class="d-inline">
        <a type="button" class="btn btn-link text-muted p-0" id="update-button{{ comment.id }}">
            Update
        </a>

        <script>
            let updateButton = document.getElementById('update-button{{ comment.id }}');
            let commentBody = document.getElementById('comment-body-{{ comment.id }}');
            let currentText = commentBody.innerText;

            updateButton.addEventListener('click', function (e) {
                commentBody.innerHTML = `
                    <form method="POST" action="{% url "schedule_comment_update" comment.id schedule.slug %}">
                        {% csrf_token %}
                        <input type="textarea" class="form-control" name="body" value="${currentText}">
                        <input type="submit" value="Update" class="btn btn-link">
                    </form>`;
            });
        </script>




        &centerdot;
        <a type="button" class="btn btn-link text-muted p-0" data-bs-toggle="modal"
            data-bs-target="#delete-modal-{{ comment.id }}">
            Delete
        </a>
    </div>

    <!-- Modal to confirm deletion -->
    <div class="modal fade" id="delete-modal-{{ comment.id }}" tabindex="-1"
        aria-labelledby="#modal-label-{{ comment.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="#modal-label-{{ comment.id }}">Are you sure?</h1>
                </div>
                <div class="modal-body">
                    This will permanently delete your comment.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't delete</button>
                    <form method="post" action="{% url 'schedule_comment_delete' comment.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete Comment" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>

{% endblock %}