
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container navbar-margin">
    <h1>About</h1>
    <p>
        This is a project for the course "Full Stack Software Development" at Code Institute. The goal of
        this project is to create a web application that helps users to manage their waste. The application
        will let the users know when the next waste collection is due. They can either follow an existing
        waste collection schedule or create their own schedule.
    </p>
    <p>The code for this project is open source. Check out the <a href="https://github.com/benschaf/waste-schedule">Github repo</a>.</p>
</div>

{% endblock %}
