{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row align-items-center text-center">
        <div class="col">
            <h2>simplify waste management</h2>
            <h3>check your location to start:</h3>
            <form id="postcodeForm">
                <div class="input-group mb-3 mt-5">
                    <!-- -> Credit for manual input validation using regex pattern: https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
                    <!-- -> Credit for the regex Pattern: ChatGPT -->
                    <input type="text" id="postcodeInput" class="form-control" placeholder="Enter your postcode"
                        aria-label="Enter your postcode" aria-describedby="button-addon2" pattern="^\d{5}$" required>
                    <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>

            <script>
            // -> Credit for redirecting to a url in javascript: https://stackoverflow.com/questions/503093/how-can-i-make-a-redirect-page-in-jquery-javascript
            document.getElementById('postcodeForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var postcode = document.getElementById('postcodeInput').value;
                var url = 'wasteschedules/location/' + postcode + '/';
                window.location.href = url;
            });
            </script>
        </div>
        <div class="col">
            <img src="{% static 'images/landing-hero.webp' %}" alt="Main image showing multiple waste bins."
                class="img-fluid">
        </div>
    </div>
</div>
<div class="container-fluid mt-5 mb-5">
    <div class="row bg-info">
        <div class="col">
            <p class="lead text-center pt-2 pb-2">Never miss a Collection Day again.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/landing-clock.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Never Miss a Pickup</h5>
                    <p class="card-text">
                        Set up customizable reminders for waste collection days and never forget a pickup again.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/landing-community.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Join Our Waste Management Community</h5>
                    <p class="card-text">
                        Access a wealth of waste management information contributed by our community. Share your knowledge and learn from others.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/landing-verified-3.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Community Verified and Up-to-Date Schedules</h5>
                    <p class="card-text">
                        Like and comment on schedules to help keep information accurate. Be part of a community-driven approach to waste management.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/landing-big-logo.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Discover Local Waste Facilities</h5>
                    <p class="card-text">
                        Find recycling centers, disposal sites, and other waste management resources near you. Make informed decisions on waste disposal.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 mt-5 mb-5 vh-50">
    <img src="{% static 'images/landing-separator.webp' %}" alt="Image used as a visual depicting 4 recycling bins."
        class="img-fluid">
</div>

<div class="container">
    <h3>How it works</h3>
    <div class="row">
        <div class="col">
            <h4>1. Find Your Schedule</h4>
            <p>Enter your postcode to find your waste collection schedule. Get access to verified collection days and
                times for your area.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <h4>2. Get Reminders</h4>
            <p>Set up customizable reminders for your waste collection days. Receive notifications to ensure you never
                miss a pickup.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <h4>No Schedule for your Location?</h4>
            <p>
                Dont worry! Become part of your neighborhood community and simply create your own schedule.
                Everyone in your area will thank you for it.
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}