h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: "Lato", sans-serif;
    /* stick footer to bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-red);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}